body {
  font-family: Arial, sans-serif;
}

.container {
  width: 600px;
  margin: 40px auto;
}

.option {
  margin-bottom: 8px;
}

.option input {
  margin-right: 10px;
}

.buttons {
  margin: 10px 0;
}

#result {
  font-weight: bold;
  margin-top: 15px;
}

/* 추가 */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}
